<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MySuite">
    <test name="LoginTests">
        <classes>
            <class name="login.LoginTest"/>
        </classes>
    </test>
    <test name="CheckoutFlowTests">
        <classes>
            <class name="invalidTests.InvalidTests"/>
            <class name="navigationButton.BackHome"/>
        </classes>
    </test>
    <test name="productTests">
        <classes>
            <class name="productAdding.AddProducts"/>
            <class name="productRemoving.RemoveProduct"/>
        </classes>
    </test>
    <test name="detailsTests">
        <classes>
            <class name="productDetails.ProductDetailsTests"/>
        </classes>
    </test>
    <test name="filteringTests">
        <classes>
            <class name="productFiltering.FilterTest"/>
        </classes>
    </test>
    <test name="calculationTests">
        <classes>
            <class name="totalCalculation.TotalCalculationTest"/>
        </classes>
    </test>
</suite>
